* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#nav-holder {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 10px;
  left: 10px;
}
#nav-holder .bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: black;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#nav-holder .bars.active .bar:nth-child(2) {
  opacity: 0;
}
#nav-holder .bars.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
#nav-holder .bars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}
#nav-holder .links.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  width: 30vw;
  opacity: 100%;
  -webkit-transition: height 0.1s, opacity 1s ease-in-out;
  transition: height 0.1s, opacity 1s ease-in-out;
}
#nav-holder .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40px;
  overflow: hidden;
  width: 100vw;
}
#nav-holder .links a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

@media screen and (min-width: 961px) {
  .bars {
    display: none;
  }
  .links {
    opacity: 100%;
    width: 100%;
    position: fixed;
    top: 10px;
  }
}
@media screen and (max-width: 960px) {
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20px;
    overflow: hidden;
    background-color: #8800c7;
    opacity: 0;
  }
}
.create-Account {
  margin-top: 100px;
}

.home {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .hero {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 1000px;
  margin-bottom: 100px;
}
.home .hero span {
  font-size: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
}

.edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
}
.edit form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin: 70px;
}
.edit input {
  display: block;
  margin: 10px 0;
}
.edit #edit {
  width: 100px;
  margin-bottom: 300px;
}

.create {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
}
.create form {
  margin-top: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin: 70px;
}
.create input {
  display: block;
  margin: 10px 0;
}

@media screen and (max-width: 960px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container form {
  margin-bottom: 350px;
}
.container #submit {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px black solid;
}